{% extends "__base.html" %}
{% load staticfiles %}
{% block main_style %}
    <link rel="stylesheet" href="{% static 'css/_registration.min.css' %}">
{% endblock %}
{% block content %}
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
	<div class="wpr">
		<div class="container">
			<div class="col-md-10 col-md-offset-1">
				<div class="registration">
					<div class="cont">
                    <form action="/auth/register/" method="post">

                            {% csrf_token %}
						<h2>Реєстрація</h2>
						<div class="col-md-6">

							<div class="form-group">
								<label for="input_email">
									 Ваш логін *
								</label>
                                {{form.username.errors}}
								{{ form.username }}
							</div>
							<div class="form-group">
								<label for="input_password">
									 Пароль *
								</label>
                                <br>
                                    {{form.password1.errors}}
                                    {{ form.password1 }}
							</div>
							<div class="form-group">

								<label for="input_password2">
									 Повторіть пароль *
								</label>
								{{ form.password2 }}
							</div>
                            <div class="form-group">
								<label for="input_password2">
									 E-mail *
								</label>
                                {{ form.email.errors }}
								{{ form.email }}
							</div>
                            	<div class="form-group">
								<label for="input_name">
									 Ім’я *
								</label>
                                    {{ form.last_name.errors }}
								{{ form.last_name }}
							</div>
							<div class="form-group">
								<label for="input_surname">
									 Прізвище *
								</label>
                                {{ form.first_name.errors }}
								{{ form.first_name }}
							</div>
						</div>

						<div class="col-md-6">

							<div class="form-group">
								<label for="input_fathername">
									 По батькові *
								</label>
                                {{ form2.fathername.errors }}
								{{ form2.fathername }}
							</div>
							<div class="form-group">
								<label for="input_phone">
									 Номер телефону *
								</label>
                                {{ form2.phone.errors }}
								{{ form2.phone }}
							</div>
                            <div class="form-group">
								<label for="input_phone">
									 Назва міста *
								</label>
                                {{ form2.city.errors }}
								{{ form2.city }}
							</div>
                            <div class="form-group">
								<label for="input_phone">
									 Назва вулиці *
								</label>
                                {{ form2.street.errors }}
								{{ form2.street }}
							</div>
                            <div class="form-group">
								<label for="input_phone">
									 Номер будинку квартири *
								</label>
                                {{ form2.house_number.errors }}
								{{ form2.house_number }}
							</div>
                            <div class="form-group">
								<label for="input_phone">
									 Поштовий індекс *
								</label>
                                {{ form2.hash_code.errors }}
								{{ form2.hash_code}}
							</div>
							<div class="form-group">
								<button type="submit" class="btn">Підтвердити</button>
							</div>
						</div>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
    <p>{% trans "Welcome to our page" %}</p>
{% endblock content %}