{% extends "__base.html" %}
{% load staticfiles %}
{% block main_style %}
    <link rel="stylesheet" href="{% static 'css/_design.min.css' %}">
{% endblock %}
{% block content %}
	<div class="order-type">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-9 col-xs-12">
					<div class="panel">
						<div class="panel-breadcrumb">
							<ol class="breadcrumb-order" id="order">
								<li class="korzina">
									<a href="/korzina/">Корзина</a></li>
									<li class="current"><span>Вхід</span></li>
									<li><span>Доставка</span></li>
									<li class="order-end"><span>Підсумок</span></li>
									<li ><span>Замовлення</span></li>
								</ol>
							</div>
							<div class="panel-body">
									<div class="row">
									<div id='info1'>
									<form name='txt' class='on'>
										<div class=" login-panel-half col-xs-8 col-md-8 col-sm-8 col-lg-8 col-lg-push-2  col-md-push-2 col-sm-push-2 col-xs-push-2">
											<div class="auth">
												<div class="cont">
													<div class="form-group">
														<label for="input_email">
															Ваша e-mail адреса *
														</label>
														<input id="input_email" type="email" class="form-control" placeholder="E-mail" value>
													</div>
													<div class="form-group">
														<label for="input_email">
															Пароль *
														</label>
														<input id="input_email" type="email" class="form-control" placeholder="Пароль" value>
													</div>
													<div class="form-group-b">
														<a href="#">Забули пароль?</a>
														<button type="submit" class="btn">Увійти</button>
													</div>
													<div class="form-group-s">
														Досі не зареєстровані?&nbsp;&nbsp;&nbsp;<a href="#">Реєстрація</a>
													</div>
												</div>
											</div>
										</div>
										</form>
										<form name='txt' class='off'>
											<div class="login-panel-half-two login-panel-half col-xs-8  col-md-8 col-sm-8 col-lg-8 col-lg-push-2 col-md-push-2 col-sm-push-2 col-xs-push-2">
											<div class="auth">
												<div class="cont">
													<div class="form-group">
														<label for="input_email">
															Спосіб доставки *
														</label>
														<select class="form-control">
  															<option>Укрпошта</option>
  															<option>Нова пошта</option>
														</select>
													</div>
													<div class="form-group">
														<label for="input_email">
															Вулиця *
														</label>
														<input id="input_email" type="email" class="form-control" placeholder="Комарова" value>
													</div>
													<div class="form-group">
														<label for="input_email">
															№ будинку / квартири
														</label>
														<div class="input-group">
														<input id="input_home" type="email" class="form-control" placeholder="45b" value>
														<div class="input-group-addon">-</div>
														<input id="input_home" type="email" class="form-control" placeholder="Комарова" value>
														</div>

													</div>
														<div class="form-group">
														<label for="input_email">
															Населений пункт *
														</label>
														<input id="input_email" type="email" class="form-control" placeholder="Чернівці" value>
													</div>
														<div class="form-group">
														<label for="input_email">
															Номер відділення *
														</label>
														<input id="input_email" type="email" class="form-control" placeholder="345" value>
													</div>
												</div>
											</div>
											<div class="enter-informations">
											*В разі неохідності дані в формі можна змінити.
										</div>
										</div>

									</form>
											<form name='txt' class='off'>
										<div class="result col-md-12 col-sm-12 col-lg-12 col-xs-12">
										<h2>Результат</h2>
										<div class="table-head">
											<div class="row">
												<div class="col-sm-10 col-sm-offset-2">
												<div class="col-xs-5 bg-muted-title	">
													Товар
												</div>
												<div class="col-xs-3 bg-muted-title">
													Наявність
												</div>
												<div class="col-xs-2 bg-muted-title">
													Кількість
												</div>
												<div class="col-xs-2 bg-muted-title1">
													Вартість
												</div>

											</div>
										</div>
									</div>
									<div class="table-row" >
										<div class="col-sm-2 col-xs-3 col-xxs-6">
											<p>
												<a href="" class="product-image">
													<img src="{% static "img/goods/loo.png" %}" alt="">
												</a>
											</p>
										</div>
										<div class="col-sm-10 col-xs-9 col-xxs-6">
											<div class="row">
												<div class="col-sm-5 col-xs-3 col-xxs-12 tovar-description">
													<p>
														<strong>Rfneirf</strong>
													</p>
													<p>
														<strong>№ тов.</strong>
														3435454435
														<br>
														<strong>Цінa:</strong>
														500 грн

													</p>
												</div>
												<div class="availability col-sm-3 col-xs-3 col-xxs-12">
													<p class="text-success">
														&#10004
													</p>
												</div>
												<div class="col-sm-2 col-xs-3 col-xxs-12 count">
												<strong> 1 шт</strong>
												</div>
												<div class="col-sm-2 col-xs-3 col-xxs-12 price">
													<strong>800 грн</strong>
												</div>
											</div>
										</div>
										<div class="line col-md-12 col-lg-12 col-xs-12 col-sm-12  "></div>
									</div>
										<div class="table-row" >
										<div class="col-sm-2 col-xs-3 col-xxs-6">
											<p>
												<a href="" class="product-image">
													<img src="{% static "img/goods/loo.png" %}" alt="">
												</a>
											</p>
										</div>
										<div class="col-sm-10 col-xs-9 col-xxs-6">
											<div class="row">
												<div class="col-sm-5 col-xs-3 col-xxs-12 tovar-description">
													<p>
														<strong>Rfneirf</strong>
													</p>
													<p>
														<strong>№ тов.</strong>
														3435454435
														<br>
														<strong>Цінa:</strong>
														500 грн

													</p>
												</div>
												<div class="availability col-sm-3 col-xs-3 col-xxs-12">
													<p class="text-success">
														&#10004
													</p>
												</div>
												<div class="col-sm-2 col-xs-3 col-xxs-12 count">
												<strong> 1 шт</strong>
												</div>
												<div class="col-sm-2 col-xs-3 col-xxs-12 price">
													<strong>800 грн</strong>
												</div>
											</div>
										</div>
										<div class="line col-md-12 col-lg-12 col-xs-12 col-sm-12 "></div>
									</div>

										<div class="result-descriptions col-lg-12 col-md-12 col-xs-12 col-xxs-12">
											<div class="contacts col-lg-4 col-md-4 col-xs-4 col-xxs-4">
												<p>
													<a href="/shipping_na/" class="link pull-right">змінити</a> <strong>Данні замовника:</strong>
												</p>
												<p>
													Liliya&nbsp;Bevcuk,<br>ул. Komarova 2/29,
													<br>39897&nbsp;Chernivzi<br>
												</p>
											</div>
											<div class="deliveri-payment col-lg-4 col-md-4 col-xs-4 col-xxs-4">
												<p>
													<a href="/method_na/" class="link pull-right">змінити</a>
													<strong>Спосіб доставки:</strong>
												</p>
												<span>Укрпочта</span>
												<p>
													<a href="/method_na/" class="link pull-right">змінити</a>
													<strong>Вид оплати:</strong>
												</p>
												<span>Оплата при отриманні</span>
											</div>
											<div class="result-order col-lg-4 col-md-4 col-xs-4 col-xxs-4">
												<p>
													<span>Вартість товару:</span><span class="pull-right">599&nbsp;грн</span>
												</p>
												<p>
													<span>Спосіб оплати:</span><span class="pull-right">59&nbsp;грн</span>
												</p>
													<strong>Сума:</strong><strong class="pull-right">658&nbsp;грн</strong>
											</div>
										</div>
										</div>
										</form>
										<form name='txt' class='off' id='end'>
										<h1 align="center">Файно дякуємо!!!!!!!</h1>
										<h4 align="center"><a href="catalogue.html ">Повернутися до покупок :)</a></h4>
										</form>
										</div>
								</div>
							</div>
							<div class="panel-btn">
								<div class="row">
									<div class="col-xs-12 col-xxs-12 col-lg-12 col-md-12">
										<a href="#" class="btn-back" id="btn2" onclick='Back(1); return false;'>Назад</a>
										<a href="#" class="btn-next" id="btn" onclick='On(1); return false;Enable(1);' >Далі</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-xs-12">
						<div class="panel-information">
							<div class="panel-heading">
								Ваша корзина
							</div>
							<div class="basket-summary">
								<p><span>Вартість:</span> <span class="pull-right">599&nbsp;грн</span></p>
								<p>
									<span>Вартість доставки:</span>
									<span class="pull-right">
										59&nbsp;грн</span>
									</p>
									<p>
										<span>Сума:</span>
										<strong class="pull-right">
											658&nbsp;грн</strong>
										</p>

									</div>
										<div class="panel-heading">
											Безпечні покупки:
										</div>
										<div class="panel-body">

											<strong>Право на поверння</strong>
											<br>
											<span>
												Якщо Вам не сподобаються замовлені товари, Ви можете повернути їх протягом 14 днів без вказівки причини.
												<br>
												<a href="">більше</a>
											</span>
											<br>
											</div>
											<div class="panel-body-encryption">
											<strong>Шифроване зєднання</strong>
											<br>
											<span>
												Якщо Вам не сподобаються замовлені товари, Ви можете повернути їх протягом 14 днів без вказівки причини.
												<br>
												<a href="">більше</a>
											</span>
											</div>
										<div class="panel-heading">
											Допомога:
										</div>
										<div class="panel-body">

											<strong>Потребуєте допомоги при здійснення замовлення???</strong>
											<span class="padding-span">
												Подзвоніть нам
												<br>
												380502962473
												<i> &#9990</i>

											</span>
											<span class="padding-span">
												Напишіть нам
												<br>
												liliya.bevcuk@
												<i>&#9993</i>
											</span>
										</div>
								</div>
							</div>
						</div>
					</div>
    </div>
{% endblock %}
{% block rel_scripts %}
        <script type="text/javascript" src="{% static 'js/jquery-latest.min.js' %}"></script>
<script>
$(document).ready(function(){
    $('#btn').click(function(){
     var list = document.getElementById("order").getElementsByTagName('li');
  for(i=1; i<list.length-1; i++)
        {
        	if ($(list[i]).hasClass("order-end")) {
            	document.getElementById('btn').style.display='none';
            	document.getElementById('btn2').style.display='none';
            }
            if($(list[i]).hasClass("current")) {$(list[i]).removeClass("current"); $(list[i]).css("background-color","#f0f0f0");
            if(i<list.length-1) {$(list[i]).next().addClass("current");$(list[i]).next().css("background-color","#E0E0E0");  } else {$(list[0]).addClass("current"); $(list[0]).css("background-color","#E0E0E0");  }
            break;}
        }
});
});
</script>
<script>
$(document).ready(function(){
    $('#btn2').click(function(){
     var list = document.getElementById("order").getElementsByTagName('li');
  for(i=2; i<list.length-1; i++)
        {
            if($(list[i]).hasClass("current")) {$(list[i]).removeClass("current"); $(list[i]).css("background-color","#f0f0f0");
            if(i<list.length-1) {$(list[i]).prev().addClass("current");$(list[i]).prev().css("background-color","#E0E0E0");  } else {$(list[0]).addClass("current"); $(list[0]).css("background-color","#E0E0E0");  }
            break;}
        }
});

});
</script>
<script>
function On(N) {
var c=document.getElementById('order')
var o=document.getElementById('info'+N)
o=o.getElementsByTagName('form')
var ok=false
for (var i=0; i<o.length; i++) {if (o[i].className =="on" & o[i].id=="end"){return;} }
for (var i=0; i<o.length; i++) {
if (o[i].className=='on') {
o[i].className='off'
if (o[i+1]) {
o[i+1].className='on'
ok=true;
}
break;
}
/*if (!ok) {
o[0].className='on'
}*/}
}
function Back(N) {
var c=document.getElementById('order')
var o=document.getElementById('info'+N)
o=o.getElementsByTagName('form')
var ok=false
for (var i=1; i<o.length; i++) {if (o[i].className =="on" & o[i].id=="end"){return;} }
for (var i=1; i<o.length; i++) {
if (o[i].className=='on') {
o[i].className='off'
if (o[i-1]) {
o[i-1].className='on'
ok=true;
}
break;
}
}
}
</script>
{% endblock rel_scripts %}