{% load staticfiles %}

<div class="container">
	<div class="row">
		<div class="social-networks ">
			<h2>Долучайтесь до нас в соц.мережах</h2>
			<a href=""><img src="{% static 'img/icons/fb.png' %}" alt="facebook"></a>
			<a href=""><img src="{% static 'img/icons/g+.png' %}" alt="google+"></a>
			<a href=""><img src="{% static 'img/icons/vk.png' %}" alt="vkontakte"></a>
			<a href=""><img src="{% static 'img/icons/twitter.png' %}" alt="twitter"></a>
		</div>
	</div>
	<div class="row">
		<div class="unit col-md-3 col-sm-4">
			<ul>
				<li><a href="">Гарантійні зобов’язання</a></li>
				<li><a href="">Каталог товарів</a></li>
				<li><a href="">Про компанію</a></li>
				<li><a href="">Контакти</a></li>
			</ul>		
		</div>
		<div class="footer-contacts col-md-4 col-sm-6">
				<p>м.Чернівці, вул. Калинівська 141 б</p>
				<div class="phone" style="background-image: url(img/phone.png);">(0 800) 502 181</div>
				<div class="phone" style="background-image: url(img/phone.png);">(0 800) 112 121</div>
				<div class="phone" style="background-image: url(img/mobile.png);">(066) 857 05 22</div>
				<div class="phone" style="background-image: url(img/mobile.png);">(066) 857 05 54</div>
		</div>
	</div>

</div>