{% extends "__base.html" %}
{% load staticfiles %}
{% load catalogue_filters %}

{% block main_style %}
    <link rel="stylesheet" href="{% static 'css/_products_page.min.css' %}">
{% endblock %}

{% block content %}

	<div class="wpr">

		<div class="container">
			<div class="row">
				<ul class="breadcrumb">
					<li><a href="#">Головна</a></li>
					<li><a href="#">Каталог</a></li>
					<li class="active">Вудилища</li>
				</ul>
				<div class="filter-btn hidden-lg hidden-md">Фільтр</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="filter">
					<div class="part">
                        <div class="title">{{ category.category_id }}</div>
                        <ul>
                            {% for subcategory in subcategories %}
                                {% if subcategory.category_id == category.category_id %}
                                    <li><a href="{% url 'catalogue:products_page' category.category_id.slug subcategory.subcategory_id.slug %}"
                                        {% if subcategory.subcategory_id.slug in request.path|partition_url %} class="active" {% endif %}>{{ subcategory.subcategory_id }}</a></li>
                                {% endif %}
                            {% endfor %}
						</ul>
					</div>

                    {% if products %}
                        <form class="advance_search" method="GET" >
                            <div class="title">Фільтр товарів</div>
                            {% with request.path as cur_url %}
                                <div class="price col-md-12 col-sm-3">
                                    <div class="sect-title">Ціна</div>
                                    <div class="value">
                                        від
                                        <input type="number" name="from_price" value="0" min="0" max="{{ max_price }}"><br/>
                                        до &nbsp;<input type="number" name="to_price" value="{{ max_price }}" min="0" max="{{ max_price }}">
                                        </div>
                                    </div>
                                <div class="companies col-md-12 col-sm-4">
                                    <div class="sect-title">Бренд</div>
                                    <div class="comp-wrapper">
                                        {% for product_brand in products_brands %}
                                            {% create_full_param 'brand'|ctm_slugify product_brand|ctm_slugify as sluged_new_item %}
                                                <a href="{{ cur_url|check_right_url:sluged_new_item }}" class="filter-item">{{ product_brand }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% for key, value in extra_params.extra_to_dict.items %}
                                    <div class="col-md-12 col-sm-4">
                                        <div class="sect-title">{{ key }}</div>
                                        <div class="extra-params-wrapper">
                                            {% for parameter in value|split_by:'/' %}
                                                {% create_full_param key|ctm_slugify parameter|ctm_slugify as sluged_new_item %}
                                                    <a href="{{ cur_url|check_right_url:sluged_new_item}}" class="filter-item">{{ parameter }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endwith %}
                        </form>
                    {% endif %}
                    <div class="clear"></div>
                </div>
			</div>

			<div class="col-md-9 col-sm-12">
				<div class="overview-wrp unique">
					{% for product in products %}
                        {% include '_catalogue_product.html' with product=product %}
                    {% empty %}
                        <h4>Обрана категорія поки що порожня</h4>
                    {% endfor %}
				</div>
			</div>

			<div class="clear"></div>
			<div class="col-sm-12">	
				<div class="paging-wpr">
					<ul class="pagination">
						<li>
							<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{#{% block rel_scripts %}#}
{#<script type="text/javascript" src="{%  static 'js/jquery.mCustomScrollbar.concat.min.js'%}"></script>#}
{##}
{#<script>#}
{#    (function(){#}
{#        $(window).on("load", function(){#}
{#            $(".comp-wrapper").mCustomScrollbar();#}
{#            $(".extra-params-wrapper").mCustomScrollbar();#}
{#        });#}
{#    })();#}
{#</script>#}
{#{% endblock %}#}