{% extends "__base.html" %}
{% load staticfiles %}
{% block main_style %}
    <link rel="stylesheet" href="{% static 'css/_tovar.min.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
			<div class="row">
				<ul class="breadcrumb">
					<li><a href="#">Головна</a></li>
					<li><a href="#">Спінінги</a></li>
					<li class="active">Favorite</li>
				</ul>
			</div>
				<div class="row">
					<div class="col-xxs-12 col-xs-12 col-md-12">
						<h1 class="product-name-element">
								Спиннинг Favorite Cobalt CBL-1002EXH 3.0m
						</h1>
					</div>
				</div>
				<div class="row main-sect">
					<div class="col-xxs-12 col-xs-7 col-md-4 col-lg-4">
						<div class="product-main-photo">
							<a href="/" class="new-a"><img src="{% static "img/goods/18460347.jpg" %}" alt="item"></a>
						</div>
					</div>
					<div class="info-sect col-xxs-12 col-xs-5 col-md-4 col-lg-4">
						<div class="product_image_options">
							<a href=""><img src="{% static "img/vrnt113961_525.jpg" %}" alt=""></a>
						</div>
						<div class="pi_price_wrp" >
							<span class="price_num">1250.00 грн</span>
						</div>

						<input value="Купити" name="add2cart" type="submit" title="додати в корзину" class="add2cart_handler" rel="">

						<div class="pb_stock">
							Наявність: <span style="color: #709C42;">✔</span>
						</div>
						<div class="pi_shippay_buttons_wrp">
							<div class="ship_row">
								<img src="{% static "img/deliveri.png" %}" alt="" width="25" height="25">
								<a href="">Умови доставки та оплати</a>
							</div>
							<div class="ship_row">
								<img src="{% static "img/fa-shield.png" %}" alt="" width="25" height="25">
								<a>Гарантійні зобов'язання</a>
							</div>

						</div>
					</div>
					<div class=" col-md-4 col-lg-4 hidden-xs hidden-sm">
					<div class="main_row_cell ">
					<div class="top_prod_title">
						<span>Рекомендуємо
							<span class="tp_five">3</span>
						</span>
					</div>
						<div class="box">
							<div class="product_brief_topprod ">
								<div class="brief_topprod_image">
									<a href="" class="col-lg-4 col-md-5 "><img src="{% static "img/goods/18460347.jpg" %}" alt="" width="200" height="100"></a>
								</div>
							<div class="product_brief_topprod_right col-lg-8 col-md-7 hidden-xs">
								<div class="brief_topprod_image">
  								<a class="pb_product_name" href="">
  								Спиннинг Favorite Professional</a>
  								</div>
  							<div class="pb_price">
   								 <span class="price_num">1440</span>
   									 <small>UAH</small>
  							</div>
  							<div class="buy">
									<button type="button" title="Add to Cart" class="button btn-cart">
									<span>Купити</span>
									</button>
									 </div>
							</div>
							</div>
								<div class="product_brief_topprod ">
									<div class="brief_topprod_image">
										<a href="" class="col-lg-4 col-md-5"><img src="{% static "img/goods/18460347.jpg" %}" alt="" width="200" height="100"></a>
									</div>
							<div class="product_brief_topprod_right col-lg-8 col-md-7">
  								<a class="pb_product_name" href="">
  								Спиннинг Favorite Professional</a>
  							<div class="pb_price">
   								 <span class="price_num">1440</span>
   									 <small>UAH</small>
  							</div>
  							<div class="buy">
									<button type="button" title="Add to Cart" class="button btn-cart">
									<span>Купити</span>
									</button>
									 </div>
							</div>
							</div>
								<div class="product_brief_topprod ">
									<div class="brief_topprod_image">
										<a href="" class="col-lg-4 col-md-5"><img src="{% static "img/goods/18460347.jpg" %}" alt="" width="200" height="100"></a>
									</div>
							<div class="product_brief_topprod_right col-lg-8 col-md-7">
  								<a class="pb_product_name" href="">
  								Спиннинг Favorite Professional</a>
  							<div class="pb_price">
   								 <span class="price_num">1440</span>
   									 <small>UAH</small>
  							</div>
  							<div class="buy">
									<button type="button" title="Add to Cart" class="button btn-cart">
									<span>Купити</span>
									</button>
									 </div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid-description col-lg-12 col-md-12">
		<div class="container">
					<div class="section-title">
					<h3>Характеристика товару :</h3>
					</div>
					<div id="product-info" class="row push-bottom">
				<div class="col-xs-12 col-md-6 pull-right">
		<h4>Удилище карповое Sportex Carp Catapult Carp</h4>
		<p>Оновлена ​​серія знаменитих сподових вудилищ Catapult Carp від німецької компанії Sportex отримала новий бланк, який дає можливість кидати ще далі, за горизонт і більш витончений дизайн.
		Високомодульний карбон преміум-класу робить бланк більш потужним і яскравим. Вудилище оснащене кільцями Fuji SIC преміум класу. Перше кільце збільшене - 50мм, для більш далекого закидання.</p>
</div>
<div class="col-xs-12 col-md-5">
	<div class="table-container">
		<table class="table-condensed">
			<tbody>
				<tr>
						<td style="width:60%">№ товара</td>
						<td>90919595</td>
					</tr>
				<tr>
						<td style="width:60%">Бренд</td>
						<td>RAINBOW</td>
					</tr>
				<tr>
						<td style="width:60%">Категорія</td>
						<td>Риболовні товари</td>
					</tr>
				<tr>
						<td style="width:60%">Підкатегорія</td>
						<td>Вудочки</td>
					</tr>
				<tr>
						<td style="width:60%">Модель</td>
						<td>Catapult 2016 </td>
					</tr>
				<tr>
						<td style="width:60%">Тип вудочки</td>
						<td>карпова</td>
					</tr>
				<tr>
						<td style="width:60%">Довжина, м</td>
						<td>3,95</td>
					</tr>
				<tr>
						<td style="width:60%">Вага</td>
						<td>3</td>
					</tr>
				<tr>
						<td style="width:60%">Секції</td>
						<td>2</td>
					</tr>
				<tr>
						<td style="width:60%">Кільця</td>
						<td>чашка B</td>
					</tr>
				</tbody>
		</table>
	</div>
				</div>
				</div>
				</div>
				</div>
			<div class="recommendations col-lg-12 col-md-12">
				<div class="row">
					<div class="nav-tabs"><span>Клієнти також обрали:</span></div>
				</div>

				<div class="tab-pane">
					<div class="row">
						<div class="popular-item col-md-3 col-sm-4 col-lg-3">
							<div class="popular-item-wrap">
								<a href="/" class="popular-a"><img src="{% static "img/goods/18460347.jpg" %}" alt="item"></a>
								<a href="/" class="popular-name">Леска Prologic XLNT HP CamoЛеска Prologic XLNT HP CamoЛеска Prologic XLNT HP CamoЛеска Prologic XLNT HP CamoЛеска Prologic XLNT HP Camo</a>
								<div class="info-row">
									<div class="price">254.00 грн.</div>
									<div class="brand"><img src="{% static "img/vrnt113961_525.jpg" %}"  alt="brand"></div>
								</div>
							</div>
						</div>
						<div class="popular-item col-md-3 col-sm-4 col-lg-3">
							<div class="popular-item-wrap">
								<a href="/" class="popular-a"><img src="{% static "img/goods/18460347.jpg" %}" alt="item"></a>
								<a href="/" class="popular-name">Леска Prologic XLNT HP Camo</a>
								<div class="info-row">
									<div class="price">254.00 грн.</div>
									<div class="brand"><img src="{% static "img/vrnt113961_525.jpg" %}" alt="brand"></div>
								</div>
							</div>
						</div>
						<div class="popular-item col-md-3 col-sm-4 col-lg-3">
							<div class="popular-item-wrap">
								<a href="/" class="popular-a"><img src="{% static "img/goods/18460347.jpg" %}" alt="item"></a>
								<a href="/" class="popular-name">Леска Prologic XLNT HP Camo</a>
								<div class="info-row">
									<div class="price">254.00 грн.</div>
									<div class="brand"><img src="{% static "img/vrnt113961_525.jpg" %}" alt="brand"></div>
								</div>
							</div>
						</div>
						<div class="popular-item col-md-3 hidden-sm col-lg-3">
							<div class="popular-item-wrap">
								<a href="/" class="popular-a"><img src="{% static "img/goods/18460347.jpg" %}" alt="item"></a>
								<a href="/" class="popular-name">Леска Prologic XLNT HP Camo</a>
								<div class="info-row">
									<div class="price">254.00 грн.</div>
									<div class="brand"><img src="{% static "img/vrnt113961_525.jpg" %}" alt="brand"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
{% endblock content %}